@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .iconGradient {
    @apply bg-gradient-to-tr from-[#162E8D] via-[#1C38A8] to-[#6985F5];
  }
  .bgGradient {
    @apply bg-gradient-to-tr from-[#000000] via-[#020821] to-[#020D36];
  }
  .heroResp {
    @apply xl:px-20 px-12 py-1;
  }
  .heroHeadingResp {
    @apply xl:text-6xl lg:text-5xl md:text-5xl text-5xl;
  }
  .heroParaResp {
    @apply xl:text-3xl lg:text-2xl md:text-2xl text-2xl;
  }
  .heroBtnResp {
    @apply font-medium md:font-normal  px-4 py-2 flex items-center gap-2 text-base md:text-xl;
  }
  .heroBtnStyles {
    @apply mt-4 mx-auto md:mx-0 text-white rounded-full hover:scale-105 transition-all;
  }
  .lmBtnResp {
    @apply block mx-auto md:mx-0 md:px-6 md:py-2 md:text-base text-sm py-2 px-5 ;
  }
  .lmBtnStyles {
    @apply rounded-full bg-transparent font-medium text-blue-400 border-2 border-blue-400 transition-all hover:scale-105 ;
  }

}
body {
  font-family: 'Afacad Flux', sans-serif;
  /* /* font-family: "Dancing Script", cursive; */
  /* font-family: "Lobster", cursive; */
}

.hero {
  filter: drop-shadow(2px 2px 30px #ea4dea);
}

.herobg {
  background-color: rgb(0, 9, 37);
}

.spinner {
  animation: spin 5s infinite; /* Infinite spinning animation */
}

@keyframes spin {
  0% {
    translate: 0px 0px;
  }
  50% {
    translate: 0px -27px;
  }
  100% {
    translate: 0px 0px;
  }
}

@keyframes shine {
  0% {
    /* border-top: 1px solid #ea4dea; */
    box-shadow: 5px 5px 5px #ea4dea;
  }
  25% {
    /* border-right: 1px solid #ea4dea; */
    box-shadow: -5px -5px -5px #ea4dea;
  }
  50% {
    /* border-bottom: 1px solid #ea4dea; */
    box-shadow: 5px 5px 5px #ea4dea;
  }
  75% {
    /* border-left: 1px solid #ea4dea; */
    box-shadow: 5px 5px 5px #ea4dea;
  }
  100% {
    /* border-top: 1px solid #ea4dea; */
    box-shadow: 5px 5px 5px #ea4dea;
  }
}
